p {
    padding: 320px;

}

* {
    margin: unset;
    border: 2px solid red;
}

html {
    border: 1px solid green;
}
body{
    padding: 120px;
}
abbr{
    border:none;
    text-decoration: none;
    font-weight: bolder;
}

a{
    border:none;
    font-weight: bolder;
}
#zen-intro{
    background-color: darkgray;
}
#zen-supporting{
    background-color: dimgray;
}